@import "../lib/_mixin";
@import "../lib/_variable";

#secBooth {
  background-image: url("../images_after/bg_booth.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .secBooth_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9067CA;
    opacity: 0.7;
  }

  .secBooth_contents{
    text-align: left;
    padding: 120px 0;
    color: #fff;
    z-index: 1;
    position: relative;

    .secBooth_img1 {
      position: absolute;
      top: 120px;
      left: -50px;
      width: 400px;
    }
    .secBooth_img2 {
      position: absolute;
      bottom: 120px;
      right: -50px;
      width: 400px;
    }
    .secBooth_sponsor {
      padding: 60px 0 100px;
      margin-left: 410px;
      height: 220px;
    }
    .secBooth_junkudo {
      padding: 100px 0;
      width: calc(100% - 400px);
      height: 220px;
    }
    .secBooth_heading_svg {
      @include rep_title_svg;
      float: left;
    }
    .secBooth_heading {
      @include rep_title;
      padding-left: 80px;
      color: #fff;
      text-align: left;
      line-height: 4;
      margin-bottom: 20px;
    }
    .secBooth_heading_txt {
      font-size: 1.1rem;
      line-height: 1.5;
    }

  }

}