#secAbout
    .container.grid
        .secAbout_img
            img(src="./assets/images/img_photo01.png")
        .secAbout_contents
            h2.secAbout_heading
                span php conference Kansai 2017
            p PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。 今年で7回目の開催となるPHPカンファレンス関西2017は、7月15日(土)にグランフロントで開催いたします。 詳細は順次本サイトにて公開いたします。 【文言修正必要】
            .secAbout_events
                .secAbout_eventGroup
                    .secAbout_eventSession
                        dl
                            dt セッション
                            dd 初心者から上級者まで楽しめるセッションが目白押し！これから始めようと思っていたフレームワークや、気になっていた技術についての情報が得られるかも！？
                    .secAbout_eventBooth
                        dl
                            dt ブース
                            dd カンファレンススポンサー各社の魅力溢れるブースが多数出店！Let's 情報収集！
                .secAbout_eventParty
                    dl
                        dt 懇親会
                        dd イベント終了後、同ビル地下の「世界のビール博物館」にて懇親会を行います。おいしいビールを飲みながらセッションで気になったことを登壇者に質問してみるもよし、LTに参加してみるもよし！