#secShare.width
    .container
        h1.title SNS
        p.small2 SNSの公式アカウントにて最新情報をいち早くお届け！
            br
            | また、シェア や リツイート にて応援をよろしくお願いします！
        img.secShareFacebook(src="#" alt="")
        img.secShareTwitter(src="#" alt="")
        a.secShareFacebook.small2.bold(href="#") Facebookでシェアする
        a.secShareTwitter.small2.bold(href="#") Twitterでシェアする