#secSponsor
    .container
        .secSponsor_contents
            .fractal.num02
                img(src="./assets/images/fractal02.png", alt="")
            .fractal.num03
                img(src="./assets/images/fractal03.png", alt="")
                
            h2.secSponsor_heading
                span Sponsors
            .secSponsor_platinum
                h3 Platinum
                .grid
                    .secSponsor_list1

            .secSponsor_gold
                h3 Gold
                .grid
                    .secSponsor_list1
                    .secSponsor_list2
                    .secSponsor_list3

            .secSponsor_silver
                h3 Silver
                .grid
                    .secSponsor_list1
                    .secSponsor_list2
                    .secSponsor_list3
                    .secSponsor_list4