#secHero
    .container
        .secHero_hero
            .fractal.num01
                img(src="./assets/images/fractal01.png", alt="")
            .fractal.num02
                img(src="./assets/images/fractal02.png", alt="")
            .fractal.num03
                img(src="./assets/images/fractal03.png", alt="")
            .fractal.num04
                img(src="./assets/images/fractal04.png", alt="")
            .mainVisual
                .wrap
                    .zou.sprite
                    .image.logo01
                        img(src="./assets/images2/logo.png", alt="")
                    .image.logo02
                        img(src="./assets/images2/title.png", alt="")
                    p 2017
                        span 年
                        | 7
                        span 月
                        | 15
                        span 日(土)
                        br
                        | 10:00 ~ 18:00
                        span 会場 9:30
                        p 大阪 グランフロント
                            a(href="#").access
                                i.fa.fa-map-marker
                                | アクセス
                    p 参加費 1000円
                        span 学生の方は無料
                    .secHero_tag
                        i.fa.fa-twitter
                        span #phpkansai

    .secHero_nav
        nav
            ul
                li: a(href="#secAbout") イベントについて
                li: a(href="#secTimetable") タイムテーブル
                li: a(href="#secAccess") アクセス
                li: a(href="#secSponsor") スポンサー
        .secHero_sns
            p.regular SNS
            p.small2 follow me!
            .secHero_share
                a(href="#").facebook
                    i.fa.fa-facebook
                a(href="#").twitter
                    i.fa.fa-twitter
            