#secStaff
    .container
        .secStaff_contents
            h2.secStaff_heading
                span Staff
            .secStaff_staffs
                each staff in locals.staffs
                    .secStaff_staff
                        a(href=staff.url)
                            .secStaff_icon
                                // img(src="/assets/staffs/" + staff.img)
                                img(src="https://placehold.jp/62x62.png")
                            .secStaff_name
                                span #{staff.name}