#secHero
    .container
        .secHero_hero
            .fractal.num01
                img(src="./assets/images/fractal01.png", alt="")
            .fractal.num02
                img(src="./assets/images/fractal02.png", alt="")
            .fractal.num03
                img(src="./assets/images/fractal03.png", alt="")
            .fractal.num04
                img(src="./assets/images/fractal04.png", alt="")
            .mainVisual
                .wrap
                    .zou.sprite
                    .image.logo01
                        img(src="./assets/images/logo.svg", alt="")
                    .image.logo02
                        img(src="./assets/images/title.svg", alt="")
                    p 2017
                        span 年
                        | 7
                        span 月
                        | 15
                        span 日(土)
                        br
                        | 10:00 ~ 18:00
                        //span.ml10 開場 9:30
                        p 大阪 グランフロント
                            a(href="#secAccess").access
                                i.fa.fa-map-marker
                                | アクセス
                    p 参加案内 近日公開！
                    //p 参加費 1000円
                    //    span.ml10 学生の方は無料
                    a(href="https://twitter.com/hashtag/phpkansai",target="_blank").secHero_tag
                        i.fa.fa-twitter
                        span #phpkansai

    .secHero_nav
        nav
            ul
                li: a(href="#secAbout") イベントについて
                li: a(href="#secTimetable") タイムテーブル
                li: a(href="#secAccess") アクセス
                li: a(href="#secSponsor") スポンサー
        .secHero_sns
            p.regular SNS
            p.small2 follow me!
            .secHero_share
                a(href="https://www.facebook.com/pcon.kansai/" target="_blank").facebook
                    i.fa.fa-facebook
                a(href="https://twitter.com/phpcon_kansai" target="_blank").twitter
                    i.fa.fa-twitter
    .secHero_action
        .container
            .btn
                a(href="https://docs.google.com/forms/d/e/1FAIpQLScW8IWcgQQDFP7ybH4xqo5n8tBKPLGUFBWEAKBMFk8RsMQY9w/viewform?c=0&w=1" target="_blank")
                    i.fa.fa-heart
                    | スポンサー登録
