#secPresentedBy
    .container
        .secPresenedBy_contents
            h2.secPresenedBy_heading
             span Presented By
             
             .secPresenedByGroup: a(href="")
                img.secPresenedBy_logo(src="./assets/images/logo_phpug.png" alt="")
                p KANSAI PHP USERS GROUP
