#secSocial
    .container
        .secShare_contents
            h2.secShare_heading 
                span Social
            p.secShare_text 
                | SNSの公式アカウントにて最新情報をいち早くお届け！
                br
                | また、シェア や リツイート にて応援をよろしくお願いします！

            .secShare_facebook
                a(href="#").secShare_facebookFollow
                    i.fa.fa-facebook
                    p PHPカンファレンス関西
                    span @phpcon_kansai　 #phpkansai
                .secShare_facebookShare
                    a(href="#") Facebookでシェアする
            .secShare_twitter
                a(href="#").secShare_twitterFollow
                    i.fa.fa-twitter
                    p PHPカンファレンス関西
                    span @phpcon_kansai　 #phpkansai
                .secShare_twitterShare
                    a(href="#") Twitterでシェアする