#secTimetable
    .container
        .secTimetable_contents
            h1.secTimetable_heading
                span Time Table
            .secTimetable_sections
                .secTimetable_time
                    p 10:00
                    p |
                    p 12:00
                .secTimetable_section
                    .secTimetable_section_room
                        .secTimetable_section_roomHeading Room
                        p 901 + 902
                    h2.secTimetable_section_title
                        span セッションタイトルが入ります【文字数30字までになります。】
                    .secTimetable_section_detail
                        p Laravel や Lumenフレームワークで用いられれているDIコンテナの仕組みをベースに、DIコンテナの活用方法や汎用的なコンポーネントの設計方法、【120字~250字以内でお願いします。120字以降は折りたたまれ展開で表示されます。】
                    .secTimetable_section_more
                        span READ MORE
                    .secTimetable_section_user
                        .secTimetable_section_userHeading
                            .secTimetable_section_userImage
                                img(src="/assets/images/img_staffSample.jpg")
                            h2.secTimetable_section_userName
                                span みかかねみかかね
                        .secTimetable_section_userDetail
                            p 株式会社chatbox代表。 大阪府立大学卒業後、フリーランスエンジニア等の経験を経て、株式会社chatboxを設立。【65文字以内】
                        .secTimetable_section_userSocial
                            .secTimetable_facebook
                            .secTimetable_twitter
                            .secTimetable_link
                        .secTimetable_section_more
                            span READ MORE
                .secTimetable_section
                    .secTimetable_section_room
                        .secTimetable_section_roomHeading Room
                        p 901 + 902
                    h2.secTimetable_section_title
                        span セッションタイトルが入ります【文字数30字までになります。】
                    .secTimetable_section_detail
                        p Laravel や Lumenフレームワークで用いられれているDIコンテナの仕組みをベースに、DIコンテナの活用方法や汎用的なコンポーネントの設計方法、【120字~250字以内でお願いします。120字以降は折りたたまれ展開で表示されます。】
                    .secTimetable_section_more
                        span READ MORE
                    .secTimetable_section_user
                        .secTimetable_section_userHeading
                            .secTimetable_section_userImage
                                img(src="/assets/images/img_staffSample.jpg")
                            h2.secTimetable_section_userName
                                span みかかねみかかね
                        .secTimetable_section_userDetail
                            p 株式会社chatbox代表。 大阪府立大学卒業後、フリーランスエンジニア等の経験を経て、株式会社chatboxを設立。【65文字以内】
                        .secTimetable_section_userSocial
                            .secTimetable_facebook
                            .secTimetable_twitter
                            .secTimetable_link
                        .secTimetable_section_more
                            span READ MORE
                .secTimetable_section
                    .secTimetable_section_room
                        .secTimetable_section_roomHeading Room
                        p 901 + 902
                    h2.secTimetable_section_title
                        span セッションタイトルが入ります【文字数30字までになります。】
                    .secTimetable_section_detail
                        p Laravel や Lumenフレームワークで用いられれているDIコンテナの仕組みをベースに、DIコンテナの活用方法や汎用的なコンポーネントの設計方法、【120字~250字以内でお願いします。120字以降は折りたたまれ展開で表示されます。】
                    .secTimetable_section_more
                        span READ MORE
                    .secTimetable_section_user
                        .secTimetable_section_userHeading
                            .secTimetable_section_userImage
                                img(src="/assets/images/img_staffSample.jpg")
                            h2.secTimetable_section_userName
                                span みかかねみかかね
                        .secTimetable_section_userDetail
                            p 株式会社chatbox代表。 大阪府立大学卒業後、フリーランスエンジニア等の経験を経て、株式会社chatboxを設立。【65文字以内】
                        .secTimetable_section_userSocial
                            .secTimetable_facebook
                            .secTimetable_twitter
                            .secTimetable_link
                        .secTimetable_section_more
                            span READ MORE