#secSummary
    .container.grid
        .secSummary_contents
            h1.secSummary_heading Summary
            .secSummary_summary
                //TODO テーブルに修正
                p
                    h3.small2.bold 開催日時
                    span.small2 2017年 7月 15日 (土) 10:00 - 18:00
                p
                    h3.small2.bold 開催場所
                    span.small2 大阪 グランフロント
                p
                    h3.small2.bold 主催
                    span.small2 Kansai PHP Users Group
                p
                    h3.small2.bold 対象者
                    span.small2 大阪 グランフロント
                p
                    h3.small2.bold 定員
                    span.small2 2017年 7月 15日 (土) 10:00 - 18:00
                p
                    h3.small2.bold 参加費
                    span.small2 大阪 グランフロント
                p
                    h3.small2.bold 参加登録
                    span.small2 2017年 7月 15日 (土) 10:00 - 18:00
                p
                    h3.small2.bold 懇親会
                    span.small2 大阪 グランフロント
                p
                    h3.small2.bold お問い合わせ
                    span.small2 大阪 グランフロント
        .secSummary_img
            img(src="./assets/images2/img_photo02.png")
