#secAbout
    .container.grid
        .secAbout_img
            img(src="./assets/images2/img_photo01.png")
        .secAbout_contents
            h2.secAbout_heading About php conference Kansai
            p PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。 今年で6回目の開催となるPHPカンファレンス関西2016は、7月16日(土)に ブリーゼプラザ で開催いたします。 詳細は順次本サイトにて公開いたします。 【文言修正必要】
            .secAbout_events
                .secAbout_eventGroup
                    .secAbout_eventSession
                        dl
                            dt セッション
                            dd セッションとは、聴講型うんたらかんたら【文言修正必要】
                    .secAbout_eventBooth
                        dl
                            dt ブース
                            dd セッションとは、聴講型うんたらかんたら【文言修正必要】
                .secAbout_eventParty
                    dl
                        dt 懇親会
                        dd 懇親会は今年で6回目の開催となるPHPカンファレンス関西2016は、7月16日(土)に ブリーゼプラザ で開催いたします。 詳細は順次本サイトにて公開いたします。【文言修正必要】