#secAccess
    .grid
        .secAccess_map
        .secAccess_contents
            h2.secAccess_heading
                span Access
            .secAccess_thumb
                img(src="./assets/images2/img_photo03.png")
            .secAccess_information
                h3 グランフロント大阪
                p ナレッジキャピタルタワー7F
                p 〒530-0011 大阪市北区大深町3番1号
                    br
                    | グランフロント大阪
                    br
                    | ナレッジキャピタルタワーC 7階【要修正】
            .secAccess_train
                h3
                    i.fa.fa-train
                    span 電車でのアクセス
                p JR「大阪駅」より徒歩7分
                    br
                    | 地下鉄御堂筋線「梅田駅」より徒歩10分
                    br
                    | 阪急「梅田駅」より徒歩10分
                .secAccess_btn
                    a(href="#")
                        i.fa.fa-map
                        | Google Mapで開く