#secAccess
    .grid
        .secAccess_map
        .secAccess_contents
            h2.secAccess_heading
                span Access
            .secAccess_thumb
                img(src="./assets/images2/img_photo03.png")
            .secAccess_information
                h3 グランフロント大阪タワーＣ8階
                p カンファレンスルーム
                p 〒530-0011 大阪市北区大深町3-1
                    br
                    | グランフロント大阪タワーＣ8階
            .secAccess_train
                h3
                    i.fa.fa-train
                    span 電車でのアクセス
                p JR「大阪駅」より徒歩7分
                    br
                    | 地下鉄御堂筋線「梅田駅」より徒歩10分
                    br
                    | 阪急「梅田駅」より徒歩10分
                .secAccess_btn
                    a(href="https://goo.gl/maps/Xyo5Sfrc53U2" target="_brank")
                        i.fa.fa-map
                        | Google Mapで開く