#secHero.width
    .container
        img#secHeroLogo(src="./assets/images2/logo.png" alt="php conference Kansai logo")
        img#secHeroTitle(src="./assets/images2/title.png" alt="php conference Kansai 2017 title")
        p.regular.bold 2017
            span.small1 年
            | 7
            span.small1 月
            | 15
            span.small1 日(土)
            br
            | 10:00 ~ 18:00
            span.small2 会場 9:30
            br
            | 大阪 グランフロント
        a(href="#") アクセス
        p.regular
            span.small1 参加費 1000円
            span.small2 学生の方は無料
        #secHeroTwitter
            img(src="#" alt="Twitter logo")
            p #phpkansai
    .secHeroMenu
        a(href="#") イベントについて
        a(href="#") タイムテーブル
        a(href="#") アクセス
        a(href="#") スポンサー
    p.regular SNS
    p.small2 follow me!
    #secHeroShare
        img(src="#" alt="Facebook share button")
        img(src="#" alt="Twitter share button")