#secSocial
    .container
        .secShare_contents
            h2.secShare_heading 
                span Social
            p.secShare_text 
                | SNSの公式アカウントにて最新情報をいち早くお届け！
                br
                | シェアやリツイートにて応援をよろしくお願いします！

            .secShare_facebook
                a(href="https://www.facebook.com/pcon.kansai/" target="_blank").secShare_facebookFollow
                    i.fa.fa-facebook
                    p PHPカンファレンス関西
                    span @pcon.kansai　 #phpkansai
                .secShare_facebookShare
                    a(href="https://www.facebook.com/sharer.php?u=https://2017.kphpug.jp&amp;t=関西最大のPHPイベントは7月15日(土)開催！ PHPカンファレンス関西2017&hashtags=phpkansai" target="_blank") Facebookでシェアする
            .secShare_twitter
                a(href="https://twitter.com/phpcon_kansai" target="_blank").secShare_twitterFollow
                    i.fa.fa-twitter
                    p PHPカンファレンス関西
                    span @phpcon_kansai　 #phpkansai
                .secShare_twitterShare
                    a(href="https://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月15日(土)開催！ PHPカンファレンス関西2017 https://2017.kphpug.jp&hashtags=phpkansai" target="_blank") Twitterでシェアする