#secSponsor
    .container
        .secSponsor_contents
            .fractal.num02
                img(src="./assets/images_old/fractal02.png", alt="")
            .fractal.num03
                img(src="./assets/images_old/fractal03.png", alt="")
                
            h2.secSponsor_heading
                span Sponsors
            .secSponsor_platinum
                h3 Platinum
                .contents
                    .content
                            img(src="https://placehold.jp/340x180.png", alt="")


            .secSponsor_gold
                h3 Gold
                .contents
                    .content
                        img(src="https://placehold.jp/220x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/220x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/220x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/220x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/220x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/220x100.png", alt="")

            .secSponsor_silver
                h3 Silver
                .contents
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")
                    .content
                        img(src="https://placehold.jp/160x100.png", alt="")