#secPresentedBy
    .container
        .secPresenedBy_contents
            h2.secPresenedBy_heading Presented By

            a(href="")
                img.secPresenedBy_logo(src="./assets/images2/logo_phpug.png" alt="")
                p KANSAI PHP USERS GROUP
