@import "common/base";
@import "common/common";
@import "common/header";
@import "common/nav";
@import "common/footer";


@import "sec/_secHero";
@import "sec/_secAbout";
@import "sec/_secSummary";
@import "sec/_secTimetable";
@import "sec/_secAccess";
@import "sec/_secSponsor";
@import "sec/_secSocial";
@import "sec/_secStaff";
@import "sec/_secPresentedBy";

.report{
  @import "reportCommon/base";
  @import "reportCommon/common";
  @import "reportCommon/header";
  @import "reportCommon/nav";
  @import "reportCommon/footer";


  @import "reportSec/_secHero";
  @import "reportSec/_secSession";
  @import "reportSec/_secAccess";
  @import "reportSec/_secBlog";
  @import "reportSec/_secSponsor";
  @import "reportSec/_secStaff";
  @import "reportSec/_secPresentedBy";
}
