#header
    .container.width
    img#headerLogo(src="./assets/images2/logo_header.png" alt="php conference Kansai 2017 logo")
    img#headerTitle(src="./assets/images2/title_header.png" alt="php conference Kansai 2017 title")
    #headerMenu
        ul
            li
                a(href="#")
                    img(src="#" alt="Twitter link")
                    | tweet
            li
                a(href="#")
                    img(src="#" alt="Facebook link")
                    | share
            li
                a(href="#")
                    img(src="#" alt="register link")
                    | 参加登録
