#header
    .container
    img#headerLogo(src="./assets/images2/logo_header.png" alt="php conference Kansai 2017 logo")
    img#headerTitle(src="./assets/images2/title_header.png" alt="php conference Kansai 2017 title")
    #headerTwitter
        img(src="#" alt="Twitter link")
        a(href="#") tweet
    #headerFacebook
        img(src="#" alt="Facebook link")
        a(href="#") share
    #headerRegister
        img(src="#" alt="register link")
        a(href="#") 参加登録