#secAccess.width
    .container
        h1.title Access
        img(src="./assets/images2/img_photo03.png" alt="GRAND FRONT OSAKA image")
        h2.small1 グランフロント大阪
        h3.small2.bold ナレッジキャピタルタワー7F
        p.small2 〒530-0011 大阪市北区大深町3番1号
            br
            | グランフロント大阪
            br
            | ナレッジキャピタルタワーC 7階【要修正】
        h2.small2.bold 電車でのアクセス
        p.small2 JR「大阪駅」より徒歩7分 地下鉄御堂筋線「梅田駅」より徒歩10分 阪急「梅田駅」より徒歩10分
        a(href="#") Google Mapで開く