#secShare
    .container
        h1.title SNS
        p.small2 SNSの公式アカウントにて最新情報をいち早くお届け！
            br
            | また、シェア や リツイート にて応援をよろしくお願いします！
        img(src="#" alt="")
        a.small2.bold(href="#") Facebookでシェアする
        img(src="#" alt="")
        a.small2.bold(href="#") Twitterでシェアする