#secFooter
    .container
        img(src="./assets/images2/logo_white.png" alt="php conference Kansai logo")
        p.title php conference kansai
        .small2
            a(href="#") 2011
            a(href="#") 2012
            a(href="#") 2013
            a(href="#") 2014
        p.small2 Copyright @
            span.bold Kansai PHP Users Group
        p.small2 Designed by Risa at
            span.bold chatbox