doctype html
html(lang="ja")
    include common/_head.pug
    body
        include common/_header.pug
        include common/_nav.pug
        include topSection/_secHero.pug
        include topSection/_secAbout.pug
        include topSection/_secSummary.pug
        include topSection/_secTimetable.pug
        include topSection/_secAccess.pug
        include topSection/_secSponsor.pug
        include topSection/_secSocial.pug
        include topSection/_secStaff.pug
        include topSection/_secPresentedBy.pug
        include common/_footer.pug
        script(src="/script.js")
