doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet', href='./assets/css/main.css')
  body#app
      #main
          .container
              .fractal.num01
                  img(src="./images/fractal01.png", alt="")
              .fractal.num02
                  img(src="./images/fractal02.png", alt="")
              .fractal.num03
                  img(src="./images/fractal03.png", alt="")
              .fractal.num04
                  img(src="./images/fractal04.png", alt="")
              .mainVisual
                  .wrap
                      .zou
                          img(src="./images/zou.png", alt="") 
                      .image
                          img(src="./images/logo.png", alt="")
                      .image
                        img(src="./images/mainText.png", alt="")    
                      p 2017年  ７月  15日  (土) <br>グランフロント
                      
                      .btns
                          a(href="").btn
                              span スポンサー募集
                          a(href="").btn
                              span スピーカー募集
      #share
          .container
            span.mark SHARE
            ul.links
                li
                    a(href="")
                        i.fa.fa-facebook 
                        span Share
                li
                    a(href="")
                        i.fa.fa-twitter 
                        span Share
      #footer
          .container
              ul.links
                  li
                      a(href="") Kansai PHP Users Group
                  li
                      a(href="") Twitter
                  li
                      a(href="") facebook
                      
              p.copy © Kansai PHP Users Group All Rights Reserved.
          
