doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet', href='./assets/css/main.css')
    meta(property="og:title", content='PHPカンファレンス関西2017')
    meta(property="og:description", content='カンファレンス関西2017')
    meta(property="og:url", content='https://conference.kphpug.jp/2017/')
    meta(property="og:image", content='https://conference.kphpug.jp/2017/images/phpconf2017_OGP.jpg')
  body#app
      #main
          .container
              .fractal.num01
                  img(src="./assets/images/fractal01.png", alt="")
              .fractal.num02
                  img(src="./assets/images/fractal02.png", alt="")
              .fractal.num03
                  img(src="./assets/images/fractal03.png", alt="")
              .fractal.num04
                  img(src="./assets/images/fractal04.png", alt="")
              .mainVisual
                  .wrap
                      .zou
                          img(src="./assets/images/zou.png", alt="")
                      .image
                          img(src="./assets/images/logo.png", alt="")
                      .image
                        img(src="./assets/images/mainText.png", alt="")
                      p 2017年  7月  15日  (土) <br>グランフロント
                      
                      .btns
                          a(href="#").btn
                              span スポンサー募集
                          a(href="#").btn
                              span スピーカー募集
      #share
          .container
            span.mark SHARE
            ul.links
                li
                    a(href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/pcon.kansai/&amp;t=PHP カンファレンス関西2017" target="_blank")
                        i.fa.fa-facebook 
                        span Share
                li
                    a(href="http://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月15日(土)開催！ カンファレンス関西2017 http://conference.kphpug.jp/2017/&hashtags=phpkansai" target="_blank")
                        i.fa.fa-twitter
                        span Share

      #sponsers
          .container
              h3.ttl sponsers
              p.rank platinum
                  .platinum.rank_box
                      .list
                      a(href="")
                        img(src="./assets/images/logo_lockon.png", alt="" target="_blank")
                      a(href="")
                        img(src="./assets/images/logo_lockon.png", alt="" target="_blank")
              p.rank Gold
                  .gold.rank_box
                      .list
                      a(href="")
                          img(src="./assets/images/logo_splout.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_revtech.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_revtech.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_splout.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_splout.png", alt="" target="_blank")
              p.rank Silver
                  .silver.rank_box
                      .list
                      a(href="")
                          img(src="./assets/images/logo_merukari.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_10mado.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_merukari.png", alt="" target="_blank")
                      a(href="")
                          img(src="./assets/images/logo_merukari.png", alt="" target="_blank")

     #footer
          .container
              ul.links
                  li
                      a(href="http://www.kphpug.jp/" target="_blank") Kansai PHP Users Group
                  li
                      a(href="https://twitter.com/phpcon_kansai" target="_blank") Twitter
                  li
                      a(href="https://www.facebook.com/pcon.kansai/" target="_blank") facebook
                  li
                      a(href="https://github.com/php-jp/phpcon2017-kansai" target="_blank") GitHub

              p.copy © Kansai PHP Users Group All Rights Reserved.

