doctype html
html(lang="ja")
    head
        title PHPカンファレンス関西2017
        meta(charset="UTF-8")
        link(rel="stylesheet" href="./assets/css/common.css")
    body
        include common/_header
        include topSection/_secHero
        include topSection/_secAbout
        include topSection/_secSummary
        include topSection/_secTimetable
        include topSection/_secAccess
        include topSection/_secSponsor
        include topSection/_secShare
        include topSection/_secStaff
        include topSection/_secPresentedBy
        include common/_Footer