doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet', href='./assets/css/main.css')
    meta(property="og:title",content="PHPカンファレンス関西2017")
    meta(property="og:description",content="カンファレンス関西2017")
    meta(property="og:url",content="https://2017.kphpug.jp/")
    meta(property="og:image",content="https://2017.kphpug.jp/images/phpconf2017_OGP.jpg")
  body#app
      #main
          .container
              .fractal.num01
                  img(src="./images/fractal01.png", alt="")
              .fractal.num02
                  img(src="./images/fractal02.png", alt="")
              .fractal.num03
                  img(src="./images/fractal03.png", alt="")
              .fractal.num04
                  img(src="./images/fractal04.png", alt="")
              .mainVisual
                  .wrap
                      .zou.splite
                          img(src="./images/zou.png", alt="") 
                      .image
                          img(src="./images/logo.png", alt="")
                      .image
                        img(src="./images/mainText.png", alt="")    
                      p 2017年  7月  15日  (土) <br> 大阪 グランフロント
                      
                      .btns
                          a(href="#").btn
                              span スポンサー募集
                          a(href="#").btn
                              span スピーカー募集
      #share
          .container
            span.mark SHARE
            ul.links
                li
                    a(href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/pcon.kansai/&amp;t=PHP カンファレンス関西2017" target="_blank")
                        i.fa.fa-facebook 
                        span Share
                li
                    a(href="http://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月15日(土)開催！ カンファレンス関西2017 http://conference.kphpug.jp/2017/&hashtags=phpkansai" target="_blank")
                        i.fa.fa-twitter
                        span Share
      #footer
          .container
              ul.links
                  li
                      a(href="http://www.kphpug.jp/" target="_blank") Kansai PHP Users Group
                  li
                      a(href="https://twitter.com/phpcon_kansai" target="_blank") Twitter
                  li
                      a(href="https://www.facebook.com/pcon.kansai/" target="_blank") facebook
                  li
                      a(href="https://github.com/php-jp/phpcon2017-kansai" target="_blank") GitHub

              p.copy © Kansai PHP Users Group All Rights Reserved.

