doctype html
html(lang="ja")
    head
        title PHPカンファレンス関西2017
        meta(charset="UTF-8")
    body
        include ./_header.pug
        include ./_secHero.pug
        include ./_secAbout.pug
        include ./_secSummary.pug
        include ./_secTimetable.pug
        include ./_secAccess.pug
        include ./_secSponsor.pug
        include ./_secShare.pug
        include ./_secStaff.pug
        include ./_secPresentedBy.pug
        include ./_secFooter.pug