doctype html
html(lang="en")
  head
    title PHPカンファレンス関西2017
    meta(name="viewport", content="width=750,initial-scale=no")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet', href='/assets/css/main.css')
    meta(property="og:title",content="PHPカンファレンス関西2017")
    meta(property="og:description",content="関西最大のPHPイベントは7月15日(土)開催！ PHPカンファレンス関西2017")
    meta(property="og:url",content="https://2017.kphpug.jp/")
    meta(property="og:image",content="https://2017.kphpug.jp/images/phpconf2017_OGP.jpg")
    script(src="https://code.jquery.com/jquery-3.2.0.min.js")
    script(src="/script.js")
  body#app
      #main
          .container
              .fractal.num01
                  img(src="./assets/images/fractal01.png", alt="")
              .fractal.num02
                  img(src="./assets/images/fractal02.png", alt="")
              .fractal.num03
                  img(src="./assets/images/fractal03.png", alt="")
              .fractal.num04
                  img(src="./assets/images/fractal04.png", alt="")
              .mainVisual
                  .wrap
                      .zou.sprite
                      .image
                          img(src="./assets/images/logo.png", alt="")
                      .image
                        img(src="./assets/images/mainText.png", alt="")
                      p 2017年  1117月  15日  (土) <br> 大阪 グランフロント

                      .btns
                          a(href="https://goo.gl/forms/eom955rTY4Y4rh9r1" target="_blank").btn
                              span スポンサー募集
                          a(href="https://goo.gl/forms/2PNwlZcdUeCfN6YF3" target="_blank").btn
                              span スピーカー募集
      #share
          .container
            span.mark SHARE
            ul.links
                li
                    a(href="http://www.facebook.com/sharer.php?u=http://2017.kphpug.jp&amp;t=関西最大のPHPイベントは7月15日(土)開催！ カンファレンス関西2017&hashtags=phpkansai" target="_blank")
                        i.fa.fa-facebook 
                        span Share
                li
                    a(href="http://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月15日(土)開催！ カンファレンス関西2017 http://2017.kphpug.jp&hashtags=phpkansai" target="_blank")
                        i.fa.fa-twitter
                        span Share

      #sponsers
          .container
              h3.ttl sponsers
              p.rank platinum
                  .platinum.rank_box
                      .list
                      a(href="http://www.lockon.co.jp/",  target="_blank")
                        img(src="./assets/images/banner_platinum_01.png" alt="株式会社ロックオン")
              p.rank Gold
                  .gold.rank_box
                      .list
                      a(href="https://splout.co.jp/", target="_blank")
                          img(src="./assets/images/banner_gold_01.png",  alt="スプラウト株式会社")
                      a(href="https://levtech.jp/" target="_blank")
                          img(src="./assets/images/banner_gold_02.png", alt="レバレジーズ株式会社" target="_blank")
                      a(href="https://cloudpack.jp/" target="_blank")
                          img(src="./assets/images/banner_gold_03.png", alt="アイレット株式会社" target="_blank")
              p.rank Silver
                  .silver.rank_box
                      .list
                      a(href="https://www.mercari.com/jp/" target="_blank")
                          img(src="./assets/images/banner_silver_01.png", alt="株式会社メルカリ" )
                      a(href="http://www.relation2012.com" target="_blank")
                          img(src="./assets/images/banner_silver_02.png", alt="株式会社リレーション" )
                      //a(href="" target="_blank")
                          //img(src="./assets/images/banner_silver_03.png", alt="株式会社鈴木商店" )
                      a(href="https://10mado.jp" target="_blank")
                          img(src="./assets/images/banner_silver_04.png", alt="合同会社テンマド" )
                      //a(href="https://cookbiz.jp/" target="_blank")
                          //img(src="./assets/images/banner_silver_05", alt="クックビズ株式会社" )

      #footer
          .container
              ul.links
                  li
                      a(href="http://www.kphpug.jp/" target="_blank") Kansai PHP Users Group
                  li
                      a(href="https://twitter.com/phpcon_kansai" target="_blank") Twitter
                  li
                      a(href="https://www.facebook.com/pcon.kansai/" target="_blank") facebook
                  li
                      a(href="https://github.com/php-jp/phpcon2017-kansai" target="_blank") GitHub

              p.copy © Kansai PHP Users Group All Rights Reserved.

