@import "../lib/_mixin";
@import "../lib/_variable";

@mixin social_btn($color){
  display: table;
  background-color: $color;
  color: #fff;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  i {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.5rem;
    padding: 0px 20px 0 5px;
  }
  p{
    font-weight: bold;
    font-size: 1rem;
    padding: 3px 0px;
  }

  span {
    display: block;
    font-size: 0.7rem;
    margin-top: 5px;    
  }
}

#secSocial {
  background: #fff;

  .secShare_contents {
    text-align: center;
    padding: 60px 0;
  }

  .secShare_text {
    color: $clr-font;
    line-height: 1.5rem;
    margin-bottom: 35px;
  }

  .secShare_facebook,.secShare_twitter {
    display: inline-block;
    text-align: left;
    width: 280px;
    margin: 0 10px;
    vertical-align: top;
    @include mq() {
      display: block;
      margin: 0 auto;
    }
  }
  .secShare_facebook {
    @include mq() {
      margin-bottom: 30px;
    }
  }
  .secShare_facebookFollow {
    @include social_btn($clr-facebook);
    @include btn;
    i {
      width: 28px;
    }
  }
  .secShare_twitterFollow {
    @include social_btn($clr-twitter);
    @include btn;
    i{
      width: 25px;
    }
  }
  .secShare_twitterShare {
    text-align: center;
    margin-top: 20px;
    a {
      @include btn;
      color: $clr-twitter;
      text-decoration: underline; 
      font-weight: bold;    
    }
  }
  .secShare_facebookShare {
    text-align: center;
    margin-top: 20px;
    a {
      @include btn;
      color: $clr-facebook;
      text-decoration: underline;
      font-weight: bold;    
    }
  }
  .secShare_heading {
    span {
      @include title;
    }
  }
}
