@import "../lib/_mixin";
@import "../lib/_variable";

#secSponsor {
  @include bg_gradient;

  .secSponsor_contents{
    text-align: center;
    padding: 60px 0;
    position: relative;
    h3 {
      font-size: 1.5rem;
      color: $clr-font;
      margin-bottom: 30px;
      font-weight: normal;
    }
    .fractal {
      position: absolute;

      &.num02 {
        top: 100px;
        left: -8%;
        animation: fuwafuwa 3s ease-in-out 0.2s backwards infinite;
        @include mq() {
          display: none;
        }
      }

      &.num03 {
        bottom: 100px;
        right: -20%;
        animation: fuwafuwa 6s ease-in-out 0.2s backwards infinite;
        @include mq() {
          display: none;
        }
      }
    }

    .contents {
      letter-spacing: -.4em;
    }
    .content {
      display: inline-block;
      letter-spacing: normal;
      margin: 0 10px 20px;
      vertical-align: top;

      a {
        display: inline-block;
      }
      img {
        width: 100%;
      }
    }

  }

  .secSponsor_heading {
    span {
      @include title;
      background-image: url("/assets/images/icn_heading-white.svg");
    }
  }
  .secSponsor_list {
    background: #fff;
    width: 100%;
  }
  .secSponsor_platinum {
    margin-bottom: 30px;
  }
  .secSponsor_gold{
    margin-bottom: 30px;
    .content {
      width: calc(33.3333% - 20px);
      @include mq() {
        width: calc(50% - 20px);
      }
    }
  }
  .secSponsor_silver{
    .content {
      width: calc(25% - 20px);
      @include mq() {
        width: calc(33.3333% - 20px);
      }
    }
  }
}
