@import "../lib/_mixin";
@import "../lib/_variable";

#secTimetable {
  @include bg_gradient;
  .secTimetable_heading {
    span {
      @include title;
    }
  }
  .secTimetable_contents {
    padding: 60px 0;
    text-align: center;
    @include gridColumn(1,17);

    h2 {
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 32px;
      font-size: 1.7rem;
    }

    p {
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 50px;
      @include gridColumn(7, 11);
    }
  }
}