#header
    h1.header_logo
        a(href="https://2017.kphpug.jp/report.html")
            img.logo_mark(src="./assets/images/logo.svg")
            img.logo_type(src="./assets/images/title_header.svg" alt="php conference Kansai 2017")
        p.header_message ご参加ありがとうございました！
    .header_report
        a(href="/").pc_btn
            i.fa.fa-flag
            |   イベントサイトを見る
        a(href="/").sp_btn
            i.fa.fa-flag
            p.sp_btn_text
                | event
                br
                | site
    .header_share
        ul
            li: a(href="https://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月15日(土)開催！ PHPカンファレンス関西2017 https://2017.kphpug.jp&hashtags=phpkansai" target="_blank")
                i.fa.fa-twitter
                | tweet
            li: a(href="https://www.facebook.com/sharer.php?u=https://2017.kphpug.jp&amp;t=関西最大のPHPイベントは7月15日(土)開催！ PHPカンファレンス関西2017&hashtags=phpkansai" target="_blank")
                i.fa.fa-facebook
                | share
    .header_menu
        span.top
        span.middle
        span.bottom
    