#nav
    nav
        ul
            li: a(href="#secSession") セッションについて
            li: a(href="#secLtUnconf") LT＆アンカンファレンス
            li: a(href="#secBooth") ブースについて
            li: a(href="#secBlog") ブログ
            li: a(href="#secSponsor") スポンサー
    .nav_sns
        p.regular SNS
        p.small2 follow me!
        .nav_share
            a(href="https://www.facebook.com/pcon.kansai/" target="_blank").facebook
                i.fa.fa-facebook
            a(href="https://twitter.com/phpcon_kansai" target="_blank").twitter
                i.fa.fa-twitter
#ATField
