#secBlog
    .container
        .secBlog_contents
            .fractal.num02
                img(src="./assets/images/fractal02.png", alt="")
            .fractal.num03
                img(src="./assets/images/fractal03.png", alt="")

            .secBlog_heading_svg
                img(src="./assets/images/icn_heading-white.svg")
            h2.secBlog_heading
                span Blog
            p.secBlog_text
                | SNSの公式アカウントにて最新情報をいち早くお届け！
                br
                | また、シェアやリツイートにて応援をよろしくお願いします！

            .secBlog
                .secBlog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="http://hatenablog.com/embed?url=http://www.slideshare.net/ssuserdee628/javascriptvuejs" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secBlog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="http://hatenablog.com/embed?url=http://www.slideshare.net/ssuserdee628/javascriptvuejs" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secBlog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="http://hatenablog.com/embed?url=http://www.slideshare.net/ssuserdee628/javascriptvuejs" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
            .secBlog
                .secBlog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="http://hatenablog.com/embed?url=http://www.slideshare.net/ssuserdee628/javascriptvuejs" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secBlog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="http://hatenablog.com/embed?url=http://www.slideshare.net/ssuserdee628/javascriptvuejs" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secBlog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="http://hatenablog.com/embed?url=http://www.slideshare.net/ssuserdee628/javascriptvuejs" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
