#secPresentedBy
    .container
        .secPresentedBy_contents
            .secPresentedBy_heading_svg
                img(src="./assets/images/icn_heading.svg")
            h2.secPresentedBy_heading
                p Presented By
            .secPresentedByGroup: a(href="http://www.kphpug.jp/" target="_blank")
                img.secPresentedBy_logo(src="./assets/images/logo_phpug.png" alt="")
                p KANSAI PHP USERS GROUP
