#secBlog
    .container
        .secBlog_contents
            .fractal.num02
                img(src="./assets/images/fractal02.png", alt="")
            .fractal.num03
                img(src="./assets/images/fractal03.png", alt="")

            .secBlog_heading_svg
                img(src="./assets/images/icn_heading-white.svg")
            h2.secBlog_heading
                span Blog
            p.secBlog_text ご参加いただいた方の感想ブログをご紹介！
            .secBlog
                .secBlog_block
                    <iframe style="width:100%;max-height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://kitani3.blogspot.jp/2017/07/php-2017-phpkansai.html" frameborder="0" scrolling="no"></iframe>
                .secBlog_block
                    <iframe style="width:100%;max-height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=http://qiita.com/khsk/items/38ea8bce46fc3e2285f6" frameborder="0" scrolling="no"></iframe>
                .secBlog_block
                    <iframe style="width:100%;max-height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=http://karur4n.hatenablog.com/entry/2017/07/17/211508" frameborder="0" scrolling="no"></iframe>
            .secBlogs
                .secBlog_block
                    <iframe style="width:100%;max-height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=http://yakisaba.hatenablog.jp/entry/2017/07/16/162352" frameborder="0" scrolling="no"></iframe>
                .secBlog_block
                    <iframe style="width:100%;max-height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://web-atelier-midori.com/blog/php/2356/" frameborder="0" scrolling="no"></iframe>
                .secBlog_block
