#secBooth
    .secBooth_cover
    .container
        .secBooth_contents
            .secBooth_img1
                img(src="./assets/images_after/img_booth01.png")
            .secBooth_img2
                img(src="./assets/images_after/img_booth02.png")

            .secBooth_sponsor
                .secBooth_heading_svg
                    img(src="./assets/images/icn_heading-white.svg")
                h2.secBooth_heading
                    p Sponsor Booth
                .secBooth_heading_txt
                    p 例年より広くなったスポンサーコーナーでは、気になるサービスの紹介や求人情報に加え、アンケートを回答したりするともらえる各社オリジナルグッズも人気でした。
                        br
                        | 新たに設置した Take Free エリアでは、ブース未出展のスポンサー様のグッズもゲットできました！
            .secBooth_img3
                img(src="./assets/images_after/img_booth_sp.png")
            .secBooth_junkudo
                .secBooth_heading_svg
                    img(src="./assets/images/icn_heading-white.svg")
                h2.secBooth_heading
                    p Junkudo Booth
                .secBooth_heading_txt
                    p 今年もジュンク堂様にご協賛いただいた書籍販売コーナーでは、PHPについての書籍からチーム開発に関するものまで、幅広い種類の書籍をご用意させていただきました！
                    | 今年はなんと1,000円以上購入すると、特典としてオライリーのノベルティが！
