#secSummary
    .container.grid
        .secSummary_contents
            
            h1.secSummary_heading 
                span Summary
            .secSummary_summary
               .inner
                    h3.small2.bold 開催日時
                    span.small2 2017年 7月 15日 (土) 10:00 - 18:00
               .inner
                    h3.small2.bold 開催場所
                    span.small2 グランフロント大阪 北館 タワーＣ8階　カンファレンスルーム
               .inner
                    h3.small2.bold 主催
                    span.small2 Kansai PHP Users Group
               .inner
                    h3.small2.bold 対象者
                    span.small2 PHPに携わる全ての人
               .inner
                    h3.small2.bold 定員
                    span.small2 300名（予定）
               //.inner
               //     h3.small2.bold 参加費
               //     span.small2 1000円　※学生の方は無料
               .inner
                    h3.small2.bold 参加登録
                    span.small2 近日公開
               //.inner
               //     h3.small2.bold 懇親会
               //     span.small2 世界のビール博物館 グランフロント大阪店
               .inner
                    h3.small2.bold お問い合わせ
                    span.small2: a.textLink(href="https://www.facebook.com/pcon.kansai/") Facebookページまで
        .secSummary_img
            img(src="./assets/images/img_photo02.png")
            .fractal.num03
                img(src="./assets/images/fractal03.png", alt="")
