#secStaff
    .container
        .secStaff_contents
            .secStaff_heading_svg
                img(src="./assets/images/icn_heading.svg")
            h2.secStaff_heading
                p Staff
            .secStaff_staffs
                each staff in locals.staffs
                    .secStaff_staff
                        if staff.url
                            a(href=staff.url, target="_blank")
                                .secStaff_icon
                                    img(src="/assets/staffs/" + staff.img)
                                .secStaff_name
                                    span #{staff.name}
                        else
                            .secStaff_icon
                                img(src="/assets/staffs/" + staff.img)
                            .secStaff_name
                                span #{staff.name}

