#secSponsor
    .secSponsor_cover
        div
    .container
        .secSponsor_contents
            .secSponsor_heading_svg
                img(src="./assets/images/icn_heading-white.svg")
            h2.secSponsor_heading
                p Sponsor

            .secSponsor_video
                video(src="./assets/video/PHP-OPanm.mp4" loop controls id="motionAnm" poster="./assets/images_after/OP-anm.png")
            .secSponsor_video_text
                p Motion Graphics by Chige