mixin session(sessionInfo)
    .section
        .session_img
            img(src="/assets/rep_speakers/" + sessionInfo.session)
        .session.inner
            h2=sessionInfo.title
            if sessionInfo.slide
                a(href=sessionInfo.slide target="_blank").session_slide
                    | SLIDE
                    i.fa.fa-external-link.session_slide_icon
        .speaker.inner
            p !{sessionInfo.name}

mixin sessionEmpty()
    .section.sectionEmpty

#secSession
    .container
        .secSession_contents
            .secSession_heading_svg
                img(src="./assets/images/icn_heading-white.svg")
            h2.secSession_heading
                span Session
            .pc
                .secSession_timeline
                    .time 10:40<br>|<br>11:20
                    .time 11:40<br>|<br>12:10
                    .time 13:10<br>|<br>13:40
                    .time 14:00<br>|<br>14:30
                    .time 14:45<br>|<br>15:15
                    .time 15:30<br>|<br>16:00
                    .time 16:15<br>|<br>16:45
                    .time 17:10<br>|<br>17:50
                .secSession_sections
                    each sessionInfo in speakers.findByRoom("C01+C02")
                        +session(sessionInfo)
                .secSession_sections
                    +sessionEmpty()
                    each sessionInfo in speakers.findByRoom("C05")
                        +session(sessionInfo)
                .secSession_sections
                    +sessionEmpty()
                    each sessionInfo in speakers.findByRoom("C07")
                        +session(sessionInfo)
            .sp
                .secSession_sp_contents
                    .content
                        .time
                            h2 10:40 - 11:20
                        .wrap
                            each sessionInfo in speakers.findByTime("10:40-11:20")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 11:40 - 12:10
                        .wrap
                            each sessionInfo in speakers.findByTime("11:40-12:10")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 13:10 - 13:40
                        .wrap
                            each sessionInfo in speakers.findByTime("13:10-13:40")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 14:00 - 14:30
                        .wrap
                            each sessionInfo in speakers.findByTime("14:00-14:30")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 14:45 - 15:15
                        .wrap
                            each sessionInfo in speakers.findByTime("14:45-15:15")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 15:30 - 16:00
                        .wrap
                            each sessionInfo in speakers.findByTime("15:30-16:00")
                                +session(sessionInfo)
                    .content
                        .time
                            h2 16:15 - 16:45
                        .wrap
                            each sessionInfo in speakers.findByTime("16:15-16:45")
                                +session(sessionInfo)

            .secSession_heading_svg
                img(src="./assets/images/icn_heading-white.svg")
            h2.secSession_heading
                span LT & UnConferences
            .secSession_lt_unconf
                .secSession_blog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=http://niconare.nicovideo.jp/watch/kn2489" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secSession_blog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://speakerdeck.com/hirak/phpkansai2017" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secSession_blog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://www.slideshare.net/77web/ss-77901079" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
            .secSession_lt_unconf
                .secSession_blog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://speakerdeck.com/taminif/web-apiwoli-jie-suru" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secSession_blog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://speakerdeck.com/potato4d/tian-gao-kusobieli-tuju-ta-niyotute-phpwojavascriptnibian-huan-suru" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
                .secSession_blog_block
                    <iframe style="width:100%;height:155px;max-width:320px;display:inline-block;" src="https://hatenablog.com/embed?url=https://speakerdeck.com/mixmaru/tesainakarahurokuramaninatutesheng-kiyasukunatutahua" frameborder="0" scrolling="no" class="DRAGDIS_iframe"></iframe>
