#secHero
    .secHero_cover
        div
    .container
        .secHero_hero
            .fractal.num01
                img(src="./assets/images_after/fractal01_white.png", alt="")
            .fractal.num02
                img(src="./assets/images_after/fractal02_white.png", alt="")
            .fractal.num03
                img(src="./assets/images_after/fractal03_white.png", alt="")
            .fractal.num04
                img(src="./assets/images_after/fractal04_white.png", alt="")
            .mainVisual
                .wrap
                    .zou.sprite
                    .image.logo01
                        img(src="./assets/images/logo.svg", alt="")
                    .image.logo02
                        img(src="./assets/images/title.svg", alt="")
                    p ご参加ありがとうございました。
                        br
                        | イベントの様子やスライド、ブログなどを
                        br
                        | 紹介しております。
                    a(href="https://twitter.com/hashtag/phpkansai",target="_blank").secHero_tag
                        i.fa.fa-twitter
                        span #phpkansai
            .secHero_contents
                .secHero_heading_svg
                    img(src="./assets/images/icn_heading.svg")
                h2.secHero_heading
                    span php conferense kansai 2017
                p.secHero_text
                    | 今年で7回目の開催となるPHPカンファレンス関西2017．
                    br
                    | 7回目にちなんでメインビジュアルに使われている七宝模様は円が連鎖し繋がっていく柄で、
                    br
                    | 「円満」や「繋がり」などの願いが込められた縁起の良い柄です。
                    br
                    | 七宝のようにこれからも末永く皆様とつながっていけるイベントを目指して
                    br
                    | 今日のイベントで出会える技術やヒトの「繋がり」を意識して企画を行いました。