#secBooth
    .secBooth_cover
    .container
        .secBooth_contents
            .secBooth_img1
                img(src="./assets/images_after/img_booth01.png")
            .secBooth_img2
                img(src="./assets/images_after/img_booth02.png")

            .secBooth_sponsor
                .secBooth_heading_svg
                    img(src="./assets/images/icn_heading-white.svg")
                h2.secBooth_heading
                    p Sponsor Booth
                .secBooth_heading_txt
                    p PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。今年で6回目の開催となるPHPカンファレンス関西2017は0月0日(曜日)に どこどこ で開催しました。詳細は順次本サイトにて公開いたします。【文言修正必要】
            .secBooth_junkudo
                .secBooth_heading_svg
                    img(src="./assets/images/icn_heading-white.svg")
                h2.secBooth_heading
                    p Sponsor Junkudo
                .secBooth_heading_txt
                    p PHPカンファレンス関西は、関西最大規模のPHPエンジニアによる技術者イベントです。今年で6回目の開催となるPHPカンファレンス関西2017は0月0日(曜日)に どこどこ で開催しました。詳細は順次本サイトにて公開いたします。【文言修正必要】
