#footer
    .container
        .footer_phpConf
            img(src="./assets/images/logo_white.svg" alt="php conference Kansai logo" width="74")
            p php conference kansai
        .footer_phpConfArchives
                a(href="http://conference.kphpug.jp/2011/" target="_blank") 2011
                a(href="http://conference.kphpug.jp/2012/" target="_blank") 2012
                a(href="http://conference.kphpug.jp/2013/" target="_blank") 2013
                a(href="http://conference.kphpug.jp/2014/" target="_blank") 2014
                a(href="http://conference.kphpug.jp/2015/" target="_blank") 2015
                a(href="http://conference.kphpug.jp/2016/" target="_blank") 2016
        .footer_copyright
            small Copyright @
                a(href="http://www.kphpug.jp/" target="_blank")
                    span  Kansai PHP Users Group
            small Designed by Risa at 
                    a(href="https://chatbox-inc.com/" target="_blank") chatbox

    #lt_notice
        span 今年は本編LTを当日に募集します！！
            br
            | 当日ここに応募フォームが設置されます！
        //br
        //a.lt_link.textLink(href="https://docs.google.com/forms/d/1Aix51KL7dWb6yii6sUl-V8vRCY1kiFX0WzpnVJ1qB9w/viewform" target="_blank") 応募フォームはこちら！
    #pageTop
        a(href="#", title="title") 
            img(src="/assets/images/pageTop.svg", alt="pagetop")