#header
    h1.header_logo
        a(href="./")
            img(src="./assets/images2/logo_header.png")
            img(src="./assets/images2/title_header.png" alt="php conference Kansai 2017")
    .header_share
        ul
            li
                a(href="#")
                    i.fa.fa-twitter
                    | tweet
            li
                a(href="#")
                    i.fa.fa-facebook
                    | share
    .header_join
        li
            a(href="#")
                i.fa.fa-bookmark
                | 参加登録