doctype html
html(lang="ja")
    head
        title PHPカンファレンス関西2017
        meta(name="viewport", content="width=750,initial-scale=no")
        link(rel="icon", type="image/png",href="/assets/images2/favicon.ico")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
        link(rel='stylesheet', href='/assets/css/main.css')
        meta(property="og:title",content="PHPカンファレンス関西2017")
        meta(property="og:description",content="関西最大のPHPイベントは7月15日(土)開催！ PHPカンファレンス関西2017")
        meta(property="og:url",content="https://2017.kphpug.jp/")
        meta(property="og:image",content="https://2017.kphpug.jp/images/phpconf2017_OGP.jpg")
        script(src="https://code.jquery.com/jquery-3.2.0.min.js")
        script(src="/script.js")