#header
    h1.header_logo
        a(href="https://2017.kphpug.jp/")
            img(src="./assets/images/logo.svg")
            img(src="./assets/images/title_header.svg" alt="php conference Kansai 2017")
    .header_share
        ul
            li: a(href="https://twitter.com/intent/tweet?text=関西最大のPHPイベントは7月15日(土)開催！ カンファレンス関西2017 https://2017.kphpug.jp&hashtags=phpkansai" target="_blank")
                i.fa.fa-twitter
                | tweet
            li: a(href="https://www.facebook.com/sharer.php?u=https://2017.kphpug.jp&amp;t=関西最大のPHPイベントは7月15日(土)開催！ カンファレンス関西2017&hashtags=phpkansai" target="_blank")
                i.fa.fa-facebook
                | share
    //.header_join
    //    li: a(href="#")
    //        i.fa.fa-bookmark
    //        | 参加登録
    .header_menu
        span.top
        span.middle
        span.bottom
    