#nav
    nav
        ul
            li: a(href="#secAbout") イベントについて
            li: a(href="#secTimetable") タイムテーブル
            li: a(href="#secAccess") アクセス
            li: a(href="#secSponsor") スポンサー
    .nav_sns
        p.regular SNS
        p.small2 follow me!
        .nav_share
            a(href="https://www.facebook.com/pcon.kansai/" target="_brank").facebook
                i.fa.fa-facebook
            a(href="https://twitter.com/phpcon_kansai" target="_brank").twitter
                i.fa.fa-twitter
#ATField
